<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Employee Department Database</title>
</head>
<body>
<div th:replace="base :: nav"></div>
<table>
    <tr>
        <th>Name</th>
        <td>Actions</td>
    </tr>
    <tr th:each="department : ${departments}">
        <h2 th:test="${department.departmentName}"></h2>
        <th:block th:each="employee : ${department.employees}">
            <td th:text="[[${employee.employeeName}"> </td>
            <a th:href="@{/updateEmployee/{id}(id=[[${employee.id}]])}">Update</a>
            <a th:href="@{/detailEmployee/{id}(id=[[${employee.id}]])}">Details</a>
            <a th:href="@{/deleteEmployee/{id}(id=[[${employee.id}]]}">Delete</a>
        </td>
        </th:block>


    </tr>
</table>
</body>
</html>