<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Employee Department Database</title>
</head>
<body>
<div th:replace="base :: nav"></div>
<table>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    <tr th:each="department : ${departments}">
        <td th:text="${department.departmentName}"></td>
        <td>
            <a th:href="@{/updateDepartment/{id}(id=${department.id})}">Update</a>
            <a th:href="@{/detailDepartment/{id}(id=${department.id})}">Details</a>
            <a th:href="@{/deleteDepartment/{id}(id=${department.id})}">Delete</a>

        </td>


    </tr>
</table>
</body>
</html>